/* Root */
:root {
    --white: #FFFFFF;
    --black: #000000;
    --grey-200: #D8D8D8;
    --grey-300: #C5C6CE;
    --navy-600: #5E607A;
    --navy-950: #00001A;
    --gold-400: #E9AA52;
    --red-500: #F15D51;

    --spacing-100: 8px;
    --spacing-300: 24px;
    --spacing-400: 32px;
    --spacing-500: 40px;
    --spacing-800: 64px;
    --spacing-1100: 88px;
}

/* General */
* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    font-size: 15px;
}