/* Root */
:root {
    --white: #FFFFFF;
    --black: #000000;
    --grey-200: #D8D8D8;
    --grey-300: #C5C6CE;
    --navy-600: #5E607A;
    --navy-950: #00001A;
    --gold-400: #E9AA52;
    --red-500: #F15D51;

    --spacing-100: 8px;
    --spacing-200: 16px;
    --spacing-300: 24px;
    --spacing-400: 32px;
    --spacing-500: 40px;
    --spacing-800: 64px;
    --spacing-1100: 88px;
}

/* General */
* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    font-size: 15px;
    padding: 28px var(--spacing-200) var(--spacing-500);
}

/* Header */
header {
    height: 28px;
    margin-bottom: var(--spacing-400);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    height: 28px;
}

#open-menu {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    height: 17px;
}

#open-menu img {
    height: 17px;
}

/* Main Section */
main {
    display: grid;
    row-gap: var(--spacing-800);
}

/* Main Article */
#main-article {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-300);
}

#main-article img {
    width: 100%;
}

#main-article h2 {
    font-size: 40px;
    line-height: 40px;
    font-weight: 800;
    color: var(--navy-950);
}

#main-article .description {
    color: var(--navy-600);
    line-height: 26px;
}

#main-article button {
    border: none;
    background-color: var(--red-500);
    color: var(--navy-950);
    font-family: inherit;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 4.38px;
    font-weight: bold;
    text-transform: uppercase;
    padding: var(--spacing-200) var(--spacing-400);
    align-self: flex-start;
}

/* New Section */
#new-section {
    background-color: var(--navy-950);
    padding: 23px 21px;
}

#new-section h2 {
    color: var(--gold-400);
    font-size: 32px;
    line-height: 32px;
    font-weight: bold;
}

#new-section article {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-100);
}

#new-section article:not(:last-of-type) {
    padding: var(--spacing-400) 0;
    border-bottom: var(--navy-600) 1px solid;
}

#new-section article:last-of-type {
    padding-top: var(--spacing-400);
}

#new-section .title {
    color: var(--white);
    font-size: 20px;
    line-height: 24px;
    font-weight: 800;
}

#new-section .description {
    color: var(--grey-300);
    line-height: 26px;
}

/* Popular Section */
#popular-section {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-400);
}

#popular-section article {
    display: grid;
    grid-template-columns: 100px auto;
    column-gap: var(--spacing-300);
}

#popular-section .article-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#popular-section .details {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-100);
}

#popular-section .ranking {
    color: var(--red-500);
    font-size: 32px;
    line-height: 32px;
    font-weight: bold;
}

#popular-section .title {
    color: var(--navy-950);
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
}

#popular-section .description {
    color: var(--navy-600);
    line-height: 26px;

}